.App {
  padding: 30px;
  text-align: center;
}

.AddInput input{
  margin-right: 10px;
  width: 300px;
}

.MovieList ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.MovieList li {
  margin-bottom: 10px;
}

.MovieList input {
  width: 300px;
  margin-right: 10px;
}
